@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
/*	box-sizing: border-box;

*/	margin: 0px;
	padding: 0px;
	font-family: "Montserrat", sans-serif;


}
header{
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;

}
li, a{
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
}
nav{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 32px 10%;

	/*height: 10px;*/

}
img{
	width: 180px;
	
}
.nav_links {
	list-style: none;
}
.nav_links li{
	display: inline-block;
	padding: 0 20px;
}
.nav_links li a{
	transition: all 0.3s ease 0s;
	color: white;
}
.nav_links li a:hover{
	color: #5C5C5C;
}

.logos{
		margin-right: auto;

}
   nav img{
        vertical-align: middle;
}


.Container-l{
	display: flex;
	flex-direction: column;
	padding-left: 200px;

}
.Container-l p{
	color: white;
	margin-top: 170px;
	
}
.Container-l h1{
	color: white;
	font-size: 50px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.background{
	background-image: url(image/background.jpg);
	background-repeat: no-repeat;
	height: 100vh;
	 background-size: cover;
	 max-width: none;

}
button{
	padding: 15px 44px;
	background-color: white ;
	border:none;
	border-radius: 50px;
	cursor: pointer;
	font-size: 18px;
	color: #5C5C5C;

}
button:hover{
	background-color: #5C5C5C;
	color:white;
}

.part-1{
	display: flex;
	justify-content: space-around;
	align-items: center;
/*	background-color: white;
*/	height: 600px;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;
		color:#5C5C5C;
		margin-bottom: 100px; 

}
.part-1 img{
width: 270px;
}

.icon-1,.icon-2,.icon-3{
	width: 300px;
	text-align: center;

}
.icon-1 p, h3 {
	margin-top: 20px;
}
.icon-2 p, h3{
	margin-top: 20px;
}
.icon-3 p, h3{
	margin-top: 20px;
}
.offer{
	height: 900px;
	background-color: #9DB7DA;


}
.text-c{
	text-align: center;
	padding-top: 160px;
}
.text-c h3{
	font-size: 34px;
	color:white;
}
.text-c p{
	font-size: 16px;
	color:white;
	padding-top: 35px;
}
.set-1{
	margin-top: 110px;
	display: flex;
    justify-content: center;
	color:white;
	text-align: center;
	flex-wrap: wrap;
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;

}
.set-1 div{
	margin: 0px;
	color:white;
	margin-top: 30px;
}
.set-1 p{
	padding-top: 20px;

}
.contact{
	height: 700px;
	display: flex;
	justify-content: center;
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
		flex-wrap: wrap;
		color:#5C5C5C;

}
.contact-l{
	max-width: 1280px;
}
.contact-l h3{
	margin-top: 130px;
	font-size: 33px;
}
.contact-l p{
	margin-top: 50px;
	margin-right: 80px;
}
.map img{
	width: 520px;
	margin-top: 200px;
}
footer{
	height: 200px;
	background-color: #C1403E;
	color:white;
	font-size: 14px;
	text-align: center;
	padding-top: 50px;
	line-height: 1.9;
}
footer img{
	padding-top: 30px;
	width: 300px;
}
/*media querry*/

@media screen and (max-width: 991px) {
	li, a{
	font-size: 12px;
	font-weight: 500;}
	img{
	width: 90px;}
	.part-1{
    height: 800px;}
    .map img{
    	display: none;}

    .contact-l{
	text-align: center;
	margin: 0 auto;}
	.contact-l p{
	margin-top: 50px;
	margin-right: 0px;}
	.Container-l{
	padding-left: 100px;
	}
	.set-1{
	margin-top: 110px;
	display: flex;
    justify-content: space-around;
	color:white;
	text-align: center;
	flex-wrap: wrap;
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;}
	.set-1 img{
		width: 120px;
	}

}
.set-1 div{
	margin: 0px;
	color:white;
	margin-top: 30px;
}
.set-1 p{
	padding-top: 20px;

}
	
}
@media screen and (max-width: 841px) {
li, a{
	font-size: 11px;
	font-weight: 500;}
	img{
	width: 70px;}
	}
@media screen and (max-width: 767px) {
	li, a{
	font-size: 10px;
	font-weight: 500;}
	img{
	width: 50px;}
	.nav_links li{
	display: inline-block;
	padding: 0 5px;}
	.Container-l{
	display: flex;
	flex-direction: column;
	padding-left: 0px;
	text-align: center;}
	
}

@media screen and (max-width: 600px) {
	li, a{
	font-size: 10px;
	font-weight: 500;}
	img{
	width: 50px;}
	.nav_links li{
	display: inline-block;
	padding: 0 10px;}
	.Container-l{
	display: flex;
	flex-direction: column;
	padding-left: 0px;
	text-align: center;}
	.part-1{
		height: 1300px;
	}
	footer{
		height: 250px;
	}
	.offer{
	height: 980px;

}